{% extends 'base_layout.html' %}

{% block body %}
  <h2>Your Cart</h2>
  <ul>
    {% for item in cart.items.all %}
      <li>
        {{ item.product.name }} - Quantity: {{ item.quantity }} - Price: ${{ item.price }}
{#        <a href="{% url 'remove_from_cart' item.id %}">Remove</a>#}
{#          <a href="{% url '' %}">Buy</a>#}
      </li>
    {% endfor %}
  </ul>


    <p>TOTAL: {{ cart.total_price }}</p>
    <p>Cart Created At: {{ cart.creation_time }}</p>
    <p>Cart Closed At: {{ cart.finalizing_time }}</p>
{% endblock %}
