{% extends "admin/login.html" %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}

        {% if otp_secret and is_created %}
            <p><strong>OTP Secret:</strong></p>
            <p>{{ otp_secret }}</p>
            <p>Enter it inside a 2FA app (Google Authenticator, Authy) or scan the QR code below.</p>
            {{ qr_code|safe }}
            {% if user.is_staff %}
                <div id="site-name"><a href="{% url 'admin:index' %}">My shop</a></div>
                <div id="home-admin"><a href="{% url 'home' %}">Homepage</a></div>
            {% else %}
                <div id="home-user"><a href="{% url 'home' %}">Home</a></div>
            {% endif %}
        {% else %}
            {% if form_errors %}
                {% for error in form_errors %}
                    <p class="errornote">
                        {{ error }}
                    </p>
                {% endfor %}
            {% else %}

                <label>Click the button generate a 2FA application code.</label>
                <div class="submit-row">
                    <input type="submit" value="Generate">
                </div>

            {% endif %}
        {% endif %}

    </form>
{% endblock %}