<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Product</title>

</head>
<body>
    <h1 style="font-style: italic">Products:</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="search" placeholder="Enter text here ...">
        <input type="submit" value="Search">
    </form>
    <ul>
        {% for product in products %}
            <li>
                {{product.price}}: {{product.name}}
            </li>
        {% endfor %}
    </ul>
</body>
</html>