{% extends "base_layout.html" %}
{% block body %}

    <div>
        <h1 style="font-style: italic">Product specification</h1>

        <p>Name: {{ product.name }}</p>
        <p>Price: {{ product.price }}</p>
        <p>Description: {{ product.description }}</p>
        <p>Brand: {{ product.brand }}</p>

        {#  todo: add button [to cart] post to add_to_cart_view #}

        <form method="POST" action="{% url 'add_to_cart' product_id %}">
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="Add to chart">
        </form>

    </div>

{% endblock %}
